.bronx{
    display: flex;
    margin-left: 70px;
    margin-top: 30px;
}
.card{
    margin-left: 80px;
}
.submit{
    border: 1 solid rgb black;
    background-color: rgb(149, 241, 154);
    justify-content: center;
    border-radius: 18px;
}
.linkpg{
    color: goldenrod;
    font-size: 20px;
    text-decoration: none;
}
H1{
    color: goldenrod;
    font-size: 80PX;
    font-family: Georgia, 'Times New Roman', Times, serif;
}